@media only screen and (max-width:1024px) {
    header {padding: 28px 94px;}
    .logo, .biotentor p, .artikel h1, .judulmain2 h1, .main3 h1, .testimoni h1 {
        font-size: 24px;
    }
    header nav ul li a, .login-signup a, .btn, .biotentor span, .tempat-testimoni, .testi p {
        font-size: 12px;
    }
    #content-hero h1 {
        font-size: 36px;
    }
    #content-hero p, .artikel p, .judulmain2 p, .bottommain2 p, .biotentor h2, .nama-testimoni, footer a, footer p {
        font-size: 16px;
    }
    .hero {padding: 36px 94px 84px 94px;}
    .hero img {width: 345px;}
    .btn, .item-matkul, .tentor img, .testi img {
        width: 150px;
    }
    .artikel img {width: 250px;}
    .artikel div {flex-basis: 480px;}
    .img-matkul, .tentor img, .testi img {
        height: 150px;
    }
    #main2 {padding: 44px 94px 80px 94px;}
    .main3 {padding: 70px 94px;}
    .main3 h1 {margin-bottom: 50px;}
    .biotentor p {margin-top: 20px;}
    .middle {margin-top: 0;}
    .testimoni a {margin-top: 50px;}
    .social-media {display: none;}
    footer {grid-template-columns: 100%;}
    footer nav {display: block;}
}

@media only screen and (max-width:768px) {
    .hero img {
        width: 260px;
    }
        header {padding: 28px 64px;}
        .hero {padding: 36px 64px 84px 64px;}
        #main1 {padding: 68px 64px 70px 64px;}
        #main2 {padding: 44px 64px 80px 64px;}
        .main3 {padding: 70px 64px;}
        .testimoni {padding: 70px 64px 60px 64px;}
        footer {padding: 30px 64px;}
        .panah-kiri {width: 13px; height: 22px;}
        .panah-kanan {width: 13px;height: 22px;}
        .artikel img{
            width: 206px;
        }
}