* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
header {
    display: grid;
    grid-template-columns: 60% auto;
    background-color: #F6F5F5;
    padding: 32px 94px;
    width: 100%;
    height: 104px;
}

.logo {
    font-family: 'Coda', cursive;
    font-weight: normal;
    font-size: 36px;
    color: black;
}

header nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

header ul {
    list-style-type: none;
    margin-left: 2em;
}
header nav ul li {
    display: inline-block;
    margin-right: 20px;
}
header nav ul li a {
    color: black;
    font-size: 14px;
    letter-spacing: 0.07em;
}

.produk img {
    margin-bottom: 2px;
}

.login-signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-signup a {
    display: inline-block;
    width: 110px;
    font-size: 14px;
    letter-spacing: 0.07em;
    padding: 12px 0;
    text-align: center;
}
.regist {
    color: white;
    background-color: #00334E;
    border-radius: 8px;
}

.clear {
    clear: both;
}
body {
    background-color: #F6F5F5;
}
.hero {
    padding:60px 94px 94px 94px;
    width : 100%;
    display: grid;
    grid-template-columns: 55% auto;
    justify-content: space-between;
    align-items: center;
}
#content-hero {
    text-align: left;
}
#content-hero h1 {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0.07em;
}
#content-hero p {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    line-height: 125%;
    color: #333333;
    margin-top: 60px;
}
.bold {
    font-weight: bold;
}
.hero img {
    width: 461px; height: 292px;
}
#content-hero a {
    margin-top: 80px;
    background-color: #00334E;
}
.btn {
    width: 200px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
}
#main1 {
    width: 100%;
    display: grid;
    grid-row-gap: 100px;
    padding: 68px 94px 70px 94px;
    background-color: #00334E;
    color: #F6F5F5;
}
.artikel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.artikel:nth-child(even) {
    flex-direction: row-reverse;
}
.artikel img{
    width: 358px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.artikel div {
    flex-basis: 589px;
}
.artikel h1{
    font-size: 36px;
    letter-spacing: 0.07em;
    margin-bottom: 30px;
}
.artikel p{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 180%;
}
#main2 {
    width: 100%;
    padding: 44px 94px 116px 94px;
}
.judulmain2 {
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
}
.judulmain2 h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}
.judulmain2 p {
    font-size: 18px;
    font-weight: 300;
}
#main2 img {
    width: 100%;
}
.listMatkul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.img-matkul {
    height: 180px;
}
.item-matkul {
    width: 180px;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 30px;
}
.item-matkul p {
    margin-top:30px;
}
.bottommain2 p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 180%;
}
.mentormain {
    width:100%;
    background-image: url('img/lycs-architecture-U2BI3GMnSSE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #F6F5F5;
    position: relative;
}
.main3 {
    padding: 70px 94px 100px 94px;
    background: linear-gradient(105.28deg, #00334E 11.46%, rgba(0, 51, 78, 0.8) 11.46%, rgba(20, 83, 116, 0.8) 95.96%);
}
.main3 h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 81px;
}

.panah-kiri {
    position: absolute;
    left:40px;
    top:50%;
}
.panah-kanan {
    position: absolute;
    top:50%;
    right: 40px;
}
.tentor {
    display: flex;
    flex-direction: row;
}
.tentor img {
    width: 280px; height: 280px;
    border-radius: 50%;
}
.biotentor {
    display: inline-block;
    margin-left: 25px;
}
.biotentor h2{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 180%;
}
.biotentor span {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.biotentor p {
    margin-top: 40px;
    font-size: 36px;
    font-style: italic;
    letter-spacing: 0.1em;
    opacity: 0.5;
}
.testimoni {
    width: 100%;
    padding: 70px 94px 60px 94px;
}
.testimoni h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 180%;
    margin-bottom: 60px;
}
.container-testi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.testi {
    width: 210px;
    margin-bottom: 20px;
}
.testi img {
    width: 160px; height: 160px;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
}
.nama-testimoni {
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 180%;
}
.tempat-testimoni {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 180%;
}
.testi p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}
.middle {
    margin-top: 37px;
}
.testimoni a {
    display: block;
    margin-top:80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #EE6F57;
}
footer {
    width:100%;
    display: grid;
    grid-template-columns: 60% auto;
    padding: 30px 94px;
    font-size: 18px;
    background-color: #00334E;
}
footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social-media {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    justify-content: end;
}
footer a {
    display: inline-block;
    color: #F6F5F5;
    letter-spacing: 0.07em;
}
footer p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 0.07em;
    color: #F6F5F5;
}
